li {
border-right: 1px solid #bbb


}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #a200d6;

  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
  @media only screen and (max-width: 620px) {
    
    .menu, .main, .right {
      width: 100%;
    }
  }
 
[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 620px) {
 
  .menu, .main, .right {
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .main {  width: 100%;
    background-color: blue;
    
  }
}